body {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    font-family: Cambria;

}

#title {
    text-align: left;
    position: fixed;
    left: 30px;
    font-family: Cambria;
}
 
#nav-bar {
    display: inline-block;
    position: fixed;
    top: 30px;
    right: 50px;
}

.nav-link:link {
    font-family: Cambria;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    background-color: #3A0CA3;
    border: 2px solid black;
    color: #4CC9F0;
    border-radius: 2%;
    margin: 3px 4px;
    cursor: pointer;

}

.nav-link:visited {
    background-color: #F72585;
}

.nav-link:hover {
    background-color: #B5179E;
}

#nav-bar-con {
    height: 200px;
    width: 500px;
}

#header-bar {
    background-color: #3F37C9;
    display: inline-block;
    height: 75px;
    width: 100%;
    position: fixed;
    opacity: 100%;
}

#header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    color: #eee;
    z-index: -1;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

#header-image {
    margin-top: 70px ;
    max-width: 100%;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 1;
    min-width: 85%;
    min-height: 85%
}

#who-am-i {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#who-text {
    margin: 20px;
    padding: 10px;
    height: 250px;
    max-width: 600px;
    border: 3px solid black;
    border-radius: 2%;
    text-align: justify;
    font-family: Cambria;
}

#who-text:hover {
    background-color: #4CC9F0;
}

#who-img {
    border: 3px solid black;
    border-radius: 2%;
    margin: 20px;
    padding: 10px;
    object-fit: contain;
    display: inline;
}

#who-image {
    max-width: auto;
    max-height: 250px;
}

#what-i-do {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #3F37C9;
}

.what-item {
    border: 2px solid black;
    border-radius: 2%;
    margin: 10px;
    padding: 10px;
    display: inline;
    object-fit: contain;
    max-width: 280px;
    max-height: auto;
    text-align: center;
    font-family: Cambria;
    color: black;
}

.what-heading {
    position: relative;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.what-item:hover {
    background-color: #f2f2f2;
}

#tutkin-image {
    border-radius: 2%;
    max-width:100%;
    height:auto;
    max-height:100%;
} 

#rakennan-image {
    border-radius: 2%;
    max-width:100%;
    height:auto;
    max-height:100%;
}    

#lennan-image {
    border-radius: 2%;
    max-width:100%;
    height:auto;
    max-height:100%;
}

#projects {
    width: 100%;
    height: 40vh;
    margin: 0 auto;
}

#projects-block {
    margin: 80px;
}

#projects-table td, #projects-table th {
    width: 50%;
    border: 1px solid #ddd;
    padding: 12px;
    font-family: Cambria;
    font-size: 18px;
}
  
#projects-table tr:nth-child(even){background-color: #f2f2f2;}
  
#projects-table tr:hover {background-color: rgba(221, 221, 221, 0.884);}
  
#projects-table th {
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: left;
    background-color: #4CC9F0;
    color: white;
}

#jokes {
    width: 100%;
    height: 400px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    background-color: #3F37C9;
    align-items: center;
}

#joke-buttons {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.joke-button {
    width: 300px;
    margin: 10px;
    height: 7vh;
    font-family: Cambria;
    font-size: 18px;
    text-decoration: none;
    background-color: #3A0CA3;
    border: 2px solid black;
    color: #4CC9F0;
    border-radius: 2%;
}

#jokes-of-the-day {
    width: 85%;
    height: 35vh;
    background-color: #3F37C9;
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.joke {
    width: 300px;
    margin: 10px;
    padding: 0px 15px 0px 15px;
    height: fit-content;
    font-family: Cambria;
    font-size: 20px;
    border: 2px solid black;
    text-align: justify;
    background-color: white;
}

.joke-button:hover {
    background-color: #B5179E;
}

#footer {
    position: fixed;
    bottom: 0;
    margin-top: 100px;
    width: 100%;
    height: 5vh;
    background-color: #3A0CA3;
    color: black;
    display: flex;
    flex-flow: row;
}

#footer-container {
    position: relative;
    bottom: 5px;
    left: 20px;
    color: #4CC9F0;
}

#newBody {
    background-color: #3F37C9;
    align-content: center;
}

#allJokesBody {
    background-color: white;
    display: flex;
    margin: 100px 200px 100px 200px;
    padding: 50px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    font-family: Cambria;
    font-size: 20px;
    border-radius: 2%;
    text-align: justify;
}